/* @group Level General Styles */

body {
	background: #1f559e;
	margin: 0;
	padding: 0;
	font-family: 'Lato';

	* {
		box-sizing: border-box;
	}
}

.wrapper {
	background: #1f559e;
	margin: 5% auto 0;
	max-width: 1440px;
	position: relative;
	width: 100%;
}

canvas {
	width: 100%;

	&#debug {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
	}
}

/* @end */

/* @group Level Builde */

#level-builder {
	background: rgba(0,0,0,0.25);
	color: #fff;
	display: none;
	height: 500px;
	position: absolute;
	right: 0;
	top: 0;
	width: 300px;

	.list {
		list-style: none;
		margin: 0 0 20px;
		padding: 0;

		.item {
			float: left;
			width: 30%;
		}
	}
}

/* @end */
