body {
	background: #222;
	margin: 0;
	padding: 0;
}

.wrapper {
	margin: 0 auto;
	max-width: 100%;
	overflow: hidden;
}

canvas {
	display: block;
	height: auto;
	margin: 0 auto;
	border: 30px solid #289fd6;
}

.pre-render-canvas {
	display: none;
	height: 1px;
	overflow: hidden;
	position: absolute;
	width: 1px;
}
