body {
	background: #222;
	margin: 0;
	padding: 0;
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;
}

canvas {
	background: #192b2e;
	display: block;
	height: auto;
	margin: 0 auto;
}

.pre-render-canvas {
	display: none;
	overflow: hidden;
	height: 1px;
	width: 1px;
	position: absolute;
}
