body {
	background: #222;
	margin: 0;
	padding: 0;
}

.wrapper {
	margin: 0 auto;
	min-width: 800px;
	max-width: 1200px;
	overflow: hidden;
	width: 100%;
}

canvas {
	display: block;
	height: 100%;
	height: auto;
	margin: 0 auto;
	width: 100%;
}

.pre-render-canvas {
	display: none;
	height: 1px;
	overflow: hidden;
	position: absolute;
	width: 1px;
}
